<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onlyswitch</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>GetWallpaperImageIntent</string>
		<string>GetWallpaperUrlIntent</string>
		<string>IsDarkModeIntent</string>
		<string>SetDarkModeIntent</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Only Switch requests Notifications usage to show radio status</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedURL</key>
	<string>http://jacklandrin.github.io/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>uE3wX03AQ7gIqY2q7AjcY+dfLIrsNNim5/ZeK/15Cic=</string>
</dict>
</plist>
